* {
  margin: 0;
  padding: 0;
}

.wrap {
  position: relative;
  max-width: 768px;
  background: #F4F4F4;
  margin: 50px auto;
  text-align: center;
  font-family: sans-serif;
  padding: 20px 0; 
}

.wrapper {
  width: 80%;
  margin: 0 auto!important;
  padding: 10px;
  display: flex!important;
  flex-wrap: wrap;
  justify-content: center!important;
  text-align: center;
  position: relative;
  margin-left: 0;
}

.arrows{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 70px;
  font-weight: 300;
  transition: all ease 0.1s;
  cursor: pointer;
  z-index: 10;
}
.arrows:hover{
  color:#C5C5C5;
  
}
.arrow-left{
left: -30px;
}
.arrow-right{
  right: -30px;
}
.weather-box {
  width: 110px;
  margin: 2px;
  padding: 10px;
  background: #fff;
}

.day-caption {
  font-size: 12px;
}

.day-caption:first-letter {
  text-transform: uppercase;
}

.bold-text {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 500;
}

.small-text {
  font-size: 14px;
  color: #6D6D6D;
  font-weight: 100;
}

.is-cloudiness {
  margin: 10px 0;
}

.weather-icon {
  width: 40px;
  margin: 0 auto;
  background-position: 50%, 50%;
  padding: 30px;
  box-sizing: border-box;
  background-size: cover;
}

.rain {
  background-image: url(../img/rain.png);
}

.snow-rain {
  background-image: url(../img/snow-rain.png);
}

.sun {
  background-image: url(../img/sun.png);
}

.overcast {
  background-image: url(../img/overcast.png);
}

.snow {
  background-image: url(../img/snow.png);
}
